body {
	height: 100%;
	overflow: auto;
	background-color: white;
}

svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

svg.wave {
	height: 50vh;
	width: 100%;
	fill: #473f97;
}

path.path {
	stroke: none;
}

.svg_container {
	overflow: hidden;
}

// For Mobile
@media only screen and (max-width: 991px) {
}
